[submodule "Salsa"]
	path = Assets/Crazy Minnow Studio
	url = git@github.com:cloudspace/SalsaWithRandomEyes.github

[submodule "Assets/RealisticEyeMovements"]
	path = Assets/RealisticEyeMovements
	url = git@github.com:cloudspace/elizavr-realisticeyemovements.github
